<header class="p-3 mb-3 border-bottom">
	<div class="container">

		<div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
			<a class="nav-link active" href="{{path('accueil')}}">Liste des articles
			</a>

			<ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
				<li>
					<a href="{{path('admin_article')}}" class="nav-link px-2 link-secondary">Articles</a>
				</li>
				<li>
					<a href="{{path('users')}}" class="nav-link px-2 link-secondary">Utilisateurs</a>
				</li>
			</ul>

			<a class="btn btn-primary" href="{{path('app_logout')}}">Se déconnecter</a>

		</div>
	</div>
</header>
